/*

main information:
  - max-width for content: 940px;
  - max-width for background: 1400px on psd, 100% in real devices.




*/

body {
  background-color: #fff;
  color: #000;
}



.container {
  max-width: 940px;
  margin: 0 auto;
}

.container__automation {
  max-width: 750px;
}


// .site-header__nav ul li {
//   display: inline-block;
// }

.site-header {
  position: fixed;
  z-index: 99;
  height: 115px;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #ddd;
  &__menuIcon-mobile {
      display: none;
  }
  &__nav--mobile {
    display: none;
  }
}

.site-header__logo {
  float: left;
  height: 115px;
  line-height: 115px;
  img {
    display: inline-block;
    vertical-align: middle;
    padding: 0 2px 0 0;
  }
  p {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    float: right;
    margin: 0;
    padding-top: 3px;
    text-transform: uppercase;
  }
}

.site-header__nav--mobile {
  display: none;
}

.site-header__nav {
  float: right;
  height: 115px;
  line-height: 115px;
  ul {
    margin: 0;
  }
}


.nav__item {
  display: inline-block;
  padding: 0 20px 0 20px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  a {
    color: $text-color--darker;
  }

  a:hover {
    color: $accent-color;
    transition: color 0.5s;
  }
}


.jumbotron {
  // clear: both;
  position: relative;
  width: 100%;
  z-index: 0;
  // max-height: 940px;
  // background: #555 url("../img/background2.png") no-repeat center 100%;
  background: #555 url("../img/background2.png") no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center 60%;
}

.jumbotron::before {
  display: block;
  position: absolute;
  content: "";
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
}


.jumbotron__content {
  position: relative;
  z-index: 3;
  padding: 215px 0 100px 0;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.jumbotron__h1 {
  color: $primary-color;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  line-height: 65px;
}

.jumbotron__p {
  color: $text-color--lighter;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  margin: 30px 0 40px 0;
}

// services
.services {
  padding: 100px 0 100px 0;
}

.services header {
  text-align: center;
  margin-bottom: 90px;
}

.services h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.services header p {
  color: $text-color--darker;
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
}

.services__item {
  text-align: center;
  width: 33.33%;
  float: left;
  padding: 0 10px;
}

.services__item--first {
  padding-left: 0;
}

.services__item--last {
  padding-right: 0;
}



.services__item h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.services__item p {
  font-size: 14px;
  color: $text-color--darker;
}



.automation {
  z-index: 0;
  // height: 500px;
  width: 100%;
  background: #e9e9e9 url("../img/gear.png") no-repeat;
  background-size: auto;
  background-attachment: scroll;
  background-position: 25% center;
}

.automation__background {
  z-index: 1;
  // padding: 100px 0 100px 0;
  position: relative;
  float: right;
  // z-index: 99;
  width: 68%;
  background: url("../img/background1.png") no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center 60%;
}

.automation__background::before {
  display: block;
  position: absolute;
  content: "";
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.automation__content {
  z-index: 99;
  position: relative;
  padding: 100px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: $text-color--lighter;
  h2 {
    span {
      color: $accent-color;
    }
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #fff;
  }
  ul {
    list-style: none;
    padding: 0 0 25px 0;
    li {
      padding: 10px 0px 10px 50px;
      text-decoration: none;
      background: url("../img/Checkmark-1.png") no-repeat left;
    }
  }
}


.portfolio {
  width: 100%;
  padding: 100px 0 100px 0;
  h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }
  > p {
    color: $text-color--darker;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
  }
  .link {
    padding-right: 20px;
    color: $accent-color;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    background: url("../img/Arrow-Right.png") no-repeat right center;
    // cursor: pointer;
  }
}


.portfolio__content {
  width: 100%;
  min-height: 550px;
  background: url("../img/isometric-ipad.png") no-repeat;
  background-size: auto;
  background-attachment: scroll;
  background-position: 175% center;
  h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    font-size: 16px;
    color: $text-color--darker;
    max-width: 500px;
  }

  ul {
    padding: 0;
    list-style: none;
  }
}

.portfolio__list-item {
  padding: 20px 0 20px 100px;
  h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
  }
  p {
    font-size: 16px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 300;
    margin: 0;
    color: $text-color--darker;
  }
  &--first {
    background: url("../img/Icon-Basket.png") no-repeat left;
  }
  &--second {
    background: url("../img/Icon-Laptop.png") no-repeat left;
  }
  &--third {
    background: url("../img/Icon-Locked.png") no-repeat left;
  }
}


.values {
  background-color: #f9f9f9;
  text-align: center;
  padding: 100px 0;
  h2 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin: 0;
  }

  h3 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }

  > p {
    font-size: 20px;
    color: $text-color--darker;
    margin-top: 0;
  }

  &__items {
    margin-top: 50px;
  }

  &__item {
    float: left;
    width: 33.33%;
    padding: 0 10px;
    > p {
      color: $text-color--darker;
      margin-top: 0;
    }
  }

  &__img {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border: 2px solid $text-color--darker;
    border-radius: 50%;
    padding-top: 25px;
  }

  &__item--first {
    position: relative;
    z-index: 0;
  }
  &__item--first:after {
    content: "";
    width: 140px;
    border-top: 2px solid $text-color--darker;
    z-index: 99;
    position: absolute;
    top: 20%;
    right: -20%;
  }

  &__item--last {
    position: relative;
    z-index: 0;
  }

  &__item--last:after {
    content: "";
    width: 140px;
    border-top: 2px solid $text-color--darker;
    z-index: 99;
    position: absolute;
    top: 20%;
    left: -20%;
  }
}



.credentials {
  text-align: center;
  padding: 100px 0;
  h2 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin: 0;
  }

  h3 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }

  > p {
    margin-top: 0;
    font-size: 20px;
    color: $text-color--darker;
  }

  &__item {
    width: 100%;
    margin: 50px 0;
  }

  &__img {
    float: left;
    width: 220px;
    border-radius: 50%;
    margin: 0px 20px;
    &--even {
      float: right;
    }
  }

  &__blockquote {
    z-index: 2;
    position: relative;
    padding: 40px;
    float: right;
    background-color: #f9f9f9;
    margin: 35px 0 0 0;
    max-width: 640px;
    &--odd:after {
      z-index: 0;
      right: 98%;
    	top: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-color: rgba(249, 249, 249, 0);
    	border-right-color: #f9f9f9;
    	border-width: 30px;
    	margin-top: -30px;
    }
    &--even:after {
      left: 98%;
    	top: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-color: rgba(249, 249, 249, 0);
    	border-left-color: #f9f9f9;
    	border-width: 30px;
    	margin-top: -30px;
    }
    &--even {
      float: left;
    }
    p {
      color: $text-color--darker;
      font-size: 22px;
      margin: 0;
    }
  }
}

.contact-us {
  padding: 70px 0;
  background-color: $accent-color;
}

.contact-us__content {
  text-align: center;
}

.contact-us__h2 {
  margin: 0 0 10px 0;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: $primary-color;
}

.adds {
  &__content {
    text-align: center;
    padding: 60px 0;
  }

  &__img {
    display: inline-block;
    padding: 0 20px;
  }
}

.footer {
  background-color: #222222;
  color: #ececec;
  &__item {
    padding: 60px 0;
    float: left;
    width: 32%;
  }
  &__content {
    // padding: 25px 0;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    h3 {
      margin: 0 0 15px 0;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  &__contact {
    p {
      padding: 0 0 0 40px;
    }
    p:nth-child(2) {
      background: url("../img/location.png") no-repeat;
    }
    p:nth-child(3) {
      background: url("../img/iPhone-potrait.png") no-repeat;
      padding: 5px 0 8px 40px;
      margin: 0;
      // height: 40px;
    }
    p:nth-child(4) {
      background: url("../img/email.png") no-repeat;
    }
  }
  &__latestPosts {
    margin: 0 2%;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      font-family: "Roboto Slab", serif;
      font-weight: normal;
      font-size: 16px;
      padding: 0 0 15px 40px;
      text-transform: capitalize;
    }
    li:nth-child(2) {
      background: url("../img/Photo-Icon.png") no-repeat;
    }
    li:first-child, li:nth-child(3), li:nth-child(4) {
      background: url("../img/News-Icon.png") no-repeat;
    }
    li:last-child {
      background: url("../img/Media-Icon.png") no-repeat;
    }
  }
  &__latestTweets {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      background: url("../img/Twitter.png") no-repeat;
      padding: 0 0 15px 40px;
    }
    p {
      margin: 0;
    }
    p:nth-child(2) {
      font-weight: bold;
    }
    p:nth-child(3) {
      font-size: 12px;
    }
  }
}


.social {
  &__content {
    padding: 25px 0;
    text-align: right;
    p {
      float: left;
      color: $text-color--darker;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
    }
  }

  &__img {
    display: inline-block;
    padding: 0
  }
}




// #00ff00 url("smiley.gif") no-repeat fixed center;
