@media only screen and (max-width:710px) {
  .container {
    max-width: 500px;
    width: 100%;
  }

  #nav {
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-size: 30px;
  }

  .site-header {
    position: fixed;
    height: 70px;
    &__nav {
      display: none;
    }
    &__menuIcon-mobile {
      display: block;
      float: right;
      width: 50px;
      margin: 10px;
    }
    &__nav--mobile {
      display: none;
      width: 100%;
      background-color: #fff;
      font-size: 24px;
      position: fixed;
      float: none;
      margin: 60px 0 40px 0;
      padding: 0;
      text-align: center;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          padding: 10px 0;
          border-bottom: 2px solid #eee;
        }
      }
    }
    &__logo {
      margin-left: 10px;
      float: left;
      height: 70px;
      line-height: 70px;
      p {
        display: inline-block;
        float: none;
      }
    }
  }

  .site-header__nav--mobile.site-header__nav--mobile-on {
    display: block;
  } 

  .jumbotron {
    &__content {
      padding: 110px 0 70px 0;
      max-width: 100%;
    }
  }

  .services {
    &__item {
      width: 100%;
      float: none;
      padding: 0;
    }
  }

  .automation {
    &__background {
      float: none;
      width: 100%;
    }
    &__content {
      padding: 60px 5% 60px 5%;
    }
  }

  .values {
    &__item {
      width: 100%;
      padding: 0;
      margin: 60px 0;
      float: none;
    }
    &__item--first:after {
      display: none;
    }
    &__item--last:after {
      display: none;
    }
  }

  .credentials {
    &__img {
      float: none;
      margin: 0;
      &--even {
        float: none;
      }
    }
    &__blockquote {
      float: none;
      width: 100%;
      &--odd:after, &--even:after {
        display: none;
      }
    }
  }

  .contact-us {
    padding: 70px 5%;
  }

  .adds {
    &__content {
      padding: 0;
      margin: 0 auto;
    }
    &__img {
      margin: 60px auto;
      display: block;
      padding: 0;
    }
  }

  .footer {
    &__item {
      width: 50%;
      float: none;
      margin: 0 auto;
    }
  }



}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
